html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

a:link {
    color: rgba(177, 0, 0, 0.589);
    text-decoration: none;
  }
  
  /* visited link */
a:visited {
    color: rgb(4, 82, 4);
  }
  
  /* mouse over link */
a:hover {
    color: rgba(0, 4, 255, 0.842);
  }
  
  /* selected link */
a:active {
    color: blue;
  }

body {
    text-align: center;
    color: black;
    text-shadow:rgb(56, 11, 6);
    background-color: whitesmoke;
    font-family: 'Alata', sans-serif;
    margin: 2px;
}

#top_div {
    border: black solid;
    border-radius: 5px;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 15px;
}

#name_div {
    border: black solid;
    border-radius: 5px;
}
.img_nick {
    border: black solid;
    border-radius: 5px;
    width: 250px;
}

#history {
    border: black solid;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 15px;
}

.img_climbers {
    width: 100%;
    border: black solid;
    border-radius: 5px;
}

#github_div {
    border: black solid;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 15px;
}

#job_div {
    border: black solid;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 15px;
}

#hobby {
    border: black solid;
    border-radius: 5px;
    padding-left: 50px;
    padding-right: 50px;
    margin: 15px;
}

.img_hobby {
    margin: 15px;
    width: 100%;
    border: black solid;
    border-radius: 5px;
}

@media (min-width: 768px) {

    body {
        padding-left: 75px;
        padding-right: 75px;
    }
    ul {
        list-style-type: none;
    }

    .img_nick {
        border: black solid;
        border-radius: 5px;
        width: 100%;
    }
    #container {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

}
@media (min-width: 1024px) {


}